# Dependencies
node_modules/
/.pnp
.pnp.js

# Build artifacts
.next/
out/
build/
dist/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log

# Environment variables
.env
.env.local
.env.*.local
.env.production
.env.development
.env.test

# IDE and OS files
.DS_Store
.vscode/
.idea/
*.swp
*.bak
*.tmp
*.log

# Project specific
public/mockServiceWorker.js
